.footer-contaier {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: #1769aa;
    color: whitesmoke;
}

.footer-image {
    height: 60px;
}